.card {
    border: solid 2px var(--surface-300);
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    max-width: 550px;
}



.status {
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.status>i {
    font-size: 1.2rem;
}