.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 4rem;
    background-color: var(--primary-500);

    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__title {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            .title {
                font-weight: 700;
                font-size: 1.2rem;
                color: white;
            }

            .logo {
                width: 32px;
                height: 32px;
            }
        }

        .header__categories {
            display: flex;
            align-items: center;
        }

        .header__menu {
            display: none;
        }
    }
}

.pedido__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    text-align: center;

    i {
        margin-bottom: 1rem;
        color: var(--primary-500);
    }

    .pedido__text-bold {
        color: black;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .pedido__text-normal {
        margin-bottom: 2rem;
        color: var(--gray-600);
    }
}


@media only screen and (max-width: 720px) {
    .header .header__content {
        .header__categories {
            display: none;
        }

        .header__menu {
            display: flex;
            gap: 1rem;
        }
    }
}